.idea/
*.egg-info/

*.parquet
data/*
!data/.gitkeep
*.pyc
*.env
/data
/models
/raw
*.DS_Store
.DS_Store
/src/data/raw
/src/models/trained_model.pt
/.pytest_cache
/MLFLOW_TRACKING_URI
/zxczx
BeansKey.pem
src/data/dataloaders/test_loader.pt
src/data/dataloaders/train_loader.pt
src/data/dataloaders/validation_loader.pt
models/trained_model.pt
